In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [27]:
%sql sqlite:///

'Connected: None@'

In [28]:
%sql use test;
users = %sql select * from users where firstname="Erdny";

(sqlite3.OperationalError) near "use": syntax error [SQL: 'use test;']
(sqlite3.OperationalError) no such table: users [SQL: 'select * from users where firstname="Erdny";']