In [20]:
%reload_ext sql

In [21]:
%sql sqlite:///test.db

'Connected: None@test.db'

In [23]:
%sql select * from mine where firstname = "Erdny"

Done.

[('Erdny', 'Erendzhenov', 'KMBO-03-15')]