Данное домашнее задание посвящено схеме базе данных, связанной с футбольным командами. Схема расположена в hw_diagram.jpg
## Описание таблиц 

### Positions 
Позиции игроков
id - уникальный идентификатор позиции 
Name - Название таблицы 

### Coaches 
Таблица тренеров 
id - уникальный идентификатор тренера
Name - имя тренера 

## Teams 
Таблица команд 
id - уникальный идентификатор  команды 
Name - имя команды 
Location - расположение команды 
Coach_id - идентификатор тренера 

### Players 
Таблица игроков 
Id - уникальный идентификатор игрока 
Name - имя игрока 
Age - возраст игрока 
Position_id - идентификатор позиции 
Team_id - идентификатор команды 
Start_date - дата начала игры в команде 

### PlayersArchive 
Архив по игрокам (информация о том, в какой команде игрок играл ранее) 
player_id - идентификатор игрока 
team_id - идентификатор команды 
start_date - дата начала игры 
end_date - дата окончания игры

In [352]:
%reload_ext sql
%sql sqlite:///test1.db

'Connected: None@test1.db'

# Задание 1
Реализовать перенакатываемые sql-скрипты по схеме hw_diagram, приложенного ниже.

In [353]:
%%sql    
Pragma foreign_key=on;
DROP TABLE if exists Coaches;
CREATE TABLE Coaches (id integer(0,0) Primary key,name Varchar(0,0));
DROP TABLE if exists Teams;
CREATE TABLE Teams (id integer primary key ,name varchar(0,0), location varchar(0,0) , coach_id integer(0,0) ,foreign key(coach_id) references Coaches(id));
Drop table if exists Positions;
Create table Positions (id integer primary key,name varchar(0,0));
DROP TABLE if exists Players;
CREATE TABLE Players (id integer primary key , name varchar(0,0), age integer , team_id integer  , position_id integer ,start_date data, foreign key(position_id) references Positions(id), foreign key(team_id) references Teams(id));
Drop table if exists Players_Archive;
Create table Players_Archive (player_id integer , team_id integer ,start_date data, end_date data , foreign key (player_id) references Players(id),foreign key (team_id) references Teams(id)) ;

Done.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

# Задание 2
Написать sql-скрипт, осуществляюший добавление всех возможных позиций игроков. (В данной задаче можно ограничится четырьмя - вратарь, защитник, полузащитник, нападающий)

In [354]:
%%sql
Insert into Positions(id,name)
Values ('1','Attacker');
Insert into Positions(id,name)
Values ('2','Defender');
Insert into Positions(id,name)
Values ('3','Goalkeeper');
Insert into Positions(id,name)
Values('4','Half-Defender');
Insert into Coaches(id,name)
Values ('1','Gleb');
Insert into Players(id,name,age,team_id,position_id,start_date)
Values ('1','Ivan','17','1','3','19-11-2014')

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [355]:
%sql select * from Positions

Done.

[(1, 'Attacker'), (2, 'Defender'), (3, 'Goalkeeper'), (4, 'Half-Defender')]

# Задание 3
Написать функцию, осуществляющую добавление тренера. На вход функции подается имя тренера. При невозможности вставки функция должна обработать данное исключение и вывести пользователю информацию о проблеме

После написания функции необходимо добавить несколько тренеров для таблицы.

In [356]:
import sqlite3
db=sqlite3.connect('test1.db')
def check_coach(name):
    cur = db.cursor()
    cur.execute('''select id from coaches where name = ?''',(name,))
    try:
        coach_id = cur.fetchone()[0]
        return coach_id;
    except TypeError:
        print('Empty name')
        return -1;
def ins(coachname):
    coach_id = check_coach(coachname)
    if coach_id != -1:
        return -1
    cur = db.cursor()
    cur.execute( '''
    SELECT COALESCE(MAX(id)+1, 1) FROM Coaches''')
    ID = cur.fetchone()[0]
    cur.execute('''
        INSERT INTO Coaches(id, Name) VALUES(?,?)''', (ID,coachname))
    db.commit()

In [357]:
ins('Druzhko')
 # Empty name показывает нам,что такого имени нет,после чего мы можем добавить его.
ins('Matvey')
ins('Fedor')

Empty name
Empty name
Empty name

In [358]:
%sql select * from Coaches

Done.

[(1, 'Gleb'), (2, 'Druzhko'), (3, 'Matvey'), (4, 'Fedor')]

# Задание 4

Написать функцию, осуществляющую добавление команды. На вход функция принимает (имя команды, местоположение, имя тренера).
На выходе должна быть добавлена команда.

После написания функции необходимо добавить несколько команд

In [359]:
import sqlite3
db=sqlite3.connect('test1.db')
def check_coach(name):
    cur = db.cursor()
    cur.execute('''select id from coaches where name = ?''',(name,))
    try:
        coach_id = cur.fetchone()[0]
        return coach_id
    except TypeError:
        print('wrong name')
        return -1;
def upd(teamname,location,coachname):
    coach_id = check_coach(coachname)
    if coach_id == -1:
        return -1;
    cur = db.cursor()
    cur.execute( '''
    SELECT COALESCE(MAX(id)+1, 1) FROM Teams''')
    ID = cur.fetchone()[0]
    cur.execute('''
        INSERT INTO Teams(id, Name,location,coach_id) VALUES(?,?,?,?)''', (ID,teamname,location,coach_id))
    db.commit()

In [360]:
upd('Spartak','Moscow','Gleb')
upd('Zenit','Moscow','Matvey')
upd('Terek','Grozny','Druzhko')
upd('CSKA','Moscow','Fedor')
%sql select * from Teams

Done.

[(1, 'Spartak', 'Moscow', 1),
 (2, 'Zenit', 'Moscow', 3),
 (3, 'Terek', 'Grozny', 2),
 (4, 'CSKA', 'Moscow', 4)]

# Задание 5

Написать функцию, осуществляющую обновление информации о команде. У функции на входе должен быть один обязательный параметр - название команды и два необязательных параметра - имя тренера и местоположение. При этом хотя бы один из необязательных параметров должен быть заполнен. Функция должна обновлять значение переданных необязательных параметров.

После написания функции вызовите данную функцию несколько раз

In [361]:
def check_coach(name):
    cur = db.cursor()
    cur.execute('''select id from coaches where name = ?''',(name,))
    try:
        coach_id = cur.fetchone()[0]
        return coach_id
    except TypeError:
        print('wrong name')
        return -1;
def update_teams(teamname,coachname):
    coach_id = check_coach(coachname)
    if coach_id == -1:
        return -1;
    cur = db.cursor()
    cur.execute('''update teams set name = ? where coach_id = ?''',(teamname,coach_id,))
    db.commit()

In [362]:
update_teams('PSJ','Gleb')
update_teams('FCB','Fedor')
%sql select * from Teams

Done.

[(1, 'PSJ', 'Moscow', 1),
 (2, 'Zenit', 'Moscow', 3),
 (3, 'Terek', 'Grozny', 2),
 (4, 'FCB', 'Moscow', 4)]

# Задание 6

Написать функцию, осуществляющую добавление нового футболиста в таблицу игроков. На входе (имя, возраст, название позиции, название команды, дата перехода в команду(необязательный параметр)). Если дата перехода не указана, то нужно использовать текущую дату. Предусмотреть различные ошибки (такие как неверное имя позиции, неверное название команды, возраст < 10 и > 50 и т.п.)

После написания функции необходимо добавить несколько игроков.

In [363]:
def check_position(position):
    cur = db.cursor()
    cur.execute('''select id from Positions where Name = ?''',(position,))
    try:
        pos_id = cur.fetchone()[0]
        print('find pos')
        return pos_id;
    except TypeError:
        print('wrong position')
        return -1;
def check_team(name):
    cur = db.cursor()
    cur.execute('''select id from Teams where Name = ?''',(name,))
    try:
        t_id = cur.fetchone()[0]
        return t_id;
    except TypeError:
        print('wrong teamname')
        return -1;
def check_age():
    cur = db.cursor()
    cur.execute('''select id from Players where age between 10 and 50''')
    try:
        a_id = cur.fetchone()[0]
        print('find age')
        return a_id
    except TypeError:
        print('wrong age')
        return -1; 
def check_player(name1):
    cur = db.cursor()
    cur.execute('''select id from Players where Name = ?''',(name1,))
    try:
        pl_id = cur.fetchone()[0]
        print('find name')
        return pl_id;
    except TypeError:
        print('Empty name')
        return -1;
def ins_player(name,age,position,teamname,startdate):
    pos_id = check_position(position)
    t_id = check_team(teamname)
    pl_id = check_player(name)
    a_id = check_age()
    if ((pos_id == -1) or (t_id == -1) or (a_id == -1) or (pl_id != -1)):
        print('error')
        return -1;
    cur = db.cursor()
    cur.execute( '''
    SELECT COALESCE(MAX(id)+1, 1) FROM Players''')
    ID = cur.fetchone()[0]
    cur.execute('''
        INSERT INTO Players(id,name,age,team_id,position_id,start_date) VALUES(?,?,?,?,?,?)''', (ID,name,age,pos_id,t_id,startdate))
    db.commit()

In [364]:
ins_player('Zhora','20','Attacker','PSJ','18-03-1999')
%sql select * from Players

find pos
Empty name
find age
Done.

[(1, 'Ivan', 17, 1, 3, '19-11-2014'), (2, 'Zhora', 20, 1, 1, '18-03-1999')]

# Задание 7
Написать функцию для перевода игрока в другую команду. Данная функция должна осуществить архивирование текущей записи в таблице игроков в таблицу players_archive с заполнение end_date - датой начала игры за новую команду - 1 день. А также осуществлять изменение поля в таблице Players. При возникновении ошибки должен осуществляться полный откат транзакции.

In [365]:
def check_player(name1):
    cur = db.cursor()
    cur.execute('''select id from Players where Name = ?''',(name1,))
    try:
        pl_id = cur.fetchone()[0]
        print('find name')
        return pl_id;
    except TypeError:
        print('Empty name')
        return -1;
def check_team(name):
    cur = db.cursor()
    cur.execute('''select id from Teams where Name = ?''',(name,))
    try:
        t_id = cur.fetchone()[0]
        return t_id;
    except TypeError:
        print('wrong teamname')
        return -1;    
def pop_date(name):
    cur = db.cursor()
    cur.execute('''select start_date from Players where name = ? ''',(name,))
    date_id = cur.fetchone()[0]
    print(date_id)
    return date_id;    
def transfer_player(name,teamname,enddate):
    pl_id = check_player(name)
    t_id = check_team(teamname)
    date_id = pop_date(name)
    if ((pl_id == -1) or (t_id == -1)):
        return -1;
    cur = db.cursor()
    cur.execute('''select coalesce(max(player_id) + 1, 1) from Players_Archive''')
    plr_id = cur.fetchone()[0]
    cur.execute('''insert into Players_Archive(player_id, team_id, start_date, end_date)
                    VALUES(?,?,?,?)''', (pl_id, t_id,date_id,enddate))
    cur.execute('''update players set team_id = ? where id = ?''',(t_id,pl_id,))
    db.commit()

In [366]:
transfer_player('Zhora','Zenit','19-04-2021')

find name
18-03-1999

In [367]:
%sql select * from Players_Archive

Done.

[(2, 2, '18-03-1999', '19-04-2021')]

In [368]:
%sql select * from Players

Done.

[(1, 'Ivan', 17, 1, 3, '19-11-2014'), (2, 'Zhora', 20, 2, 1, '18-03-1999')]

In [ ]:
#368 раз...